@model IEnumerable<GameAccount>
@{ 
    ViewBag.Title = "Quản lý Tài khoản Game";
}


<link href="~/pages/Admin/List/style.css" rel="stylesheet" />
<script src="~/pages/Admin/List/script.js"></script>


<div id="accounts-statistics">
    <a class="card" asp-action="Import">
        <i class="nc-icon nc-square-upload"></i>
        <div class="title">Nhập Tài khoản</div>
    </a>


    <div class="card">
        <i class="nc-icon nc-layers-3"></i>
        <div class="title">Tổng: @Model.Count()</div>
    </div>


    <div class="card">
        <i class="nc-icon nc-handout"></i>
        <div class="title">Đã bán: @Model.Where(acc => acc.UserAccountId != null).Count()</div>
    </div>


    <div class="card">
        <i class="nc-icon nc-check-circle-07"></i>
        <div class="title">Tổng thu: @String.Format("{0:n0} đ", Model.Where(acc => acc.UserAccountId != null).Sum(acc => acc.Price))</div>
    </div>
</div>



<table>
    <tr>
        <th>#</th>
        <th>Login Name</th>
        <th>Price</th>
        <th>Rank</th>
        <th>Heroes</th>
        <th>Skins</th>
        <th>Golds</th>
        <th>Sold</th>
        <th>Actions</th>
    </tr>


    @if (Model.Count() == 0)
    {
        <td colspan="9" style="text-align: center;">Chưa có dữ liệu.</td>
    }

    @{ var counter = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(counter++)</td>
            <td>@item.LoginName</td>
            <td>@String.Format("{0:n0}", @item.Price)</td>
            <td>@item.Rank.Name</td>
            <td>@item.HeroesCount</td>
            <td>@item.SkinsCount</td>
            <td>@String.Format("{0:n0}", @item.GoldsCount)</td>

            <td>
                <div class="pretty p-svg p-curve">
                    <input type="checkbox" checked="@(item.UserAccountId != null ? true: false)" onclick="return false;" />
                    <div class="state p-success">
                        <!-- svg path -->
                        <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                        </svg>
                        <label></label>
                    </div>
                </div>
            </td>


            <td>
                <div>
                    @if (item.UserAccountId != null)
                    {
                        <a asp-action="delete" asp-route-accId="@item.Id" class="btn-delete">Delete</a>
                        <a asp-action="buyer" target="_blank" asp-route-userId="@item.UserAccountId" class="btn-buyer">Buyer</a>
                    }
                    else
                    {
                        <a asp-action="delete" asp-route-accId="@item.Id" class="btn-delete">Delete</a>
                        <a asp-action="edit" asp-route-accId="@item.Id" class="btn-edit">Edit</a>
                    }
                </div>
            </td>
        </tr>
    }
</table>