@model HomeViewModel

@{
    ViewBag.Title = "Shop Acc Liên Quân";
}


<link href="~/pages/Home/Index/game-button.css" rel="stylesheet" />
<link href="~/pages/Home/Index/style.css" rel="stylesheet" />
<script src="~/pages/Home/Index/script.js"></script>
<script>AOS.init();</script>


<div class="acc-container">
    @{ var counter = 0; }
    @foreach (var item in Model.AccountsList)
    {
        <div class="acc-card"
            data-aos="fade-up"
            data-aos-offset="50"
            data-aos-delay="@(counter)"
            data-aos-duration="1750"
            data-aos-easing="ease-out-back">

            <img class="acc-thumbnail" src="@(item.ImageUrls.Split('\n')[0])" />
            <div class="acc-info">
                <p class="acc-price"><span>@String.Format("{0:n0}", item.Price)<sup>đ</sup></span> • <span>@item.Rank.Name</span></p>
                <table>
                    <tr>
                        <td><img class="title-icon" src="https://colienquan.garena.vn/uploads/arena-of-valor/originals/d93b15f7-f8b3-481e-9e17-748bf91f2a8f.png" />Tướng: @item.HeroesCount</td>
                        <td><img class="title-icon" src="https://colienquan.garena.vn/uploads/arena-of-valor/originals/48c808db-5301-4f26-97e0-9739a971e5bb.png" />Trang phục: @item.SkinsCount</td>
                    </tr>
                    <tr>
                        <td><img class="title-icon" src="https://www.clker.com/cliparts/n/n/Z/f/e/o/gold-coin-hi.png" />Vàng: @String.Format("{0:n0}", item.GoldsCount)</td>
                    </tr>
                </table>

                <a asp-action="GameAccountDetail" asp-route-accId="@item.Id" class="game-button orange">Xem chi tiết</a>
            </div>
        </div>

        counter += 150;
    }
</div>




<div class="paging-container">
    <div class="pagination" 
         paging-model="@Model.PagingInfo" 
         paging-action="Index"
         paging-rankId="@Model.PagingInfo.CurrentRankId"></div>
</div>